body {
  font-family: Helvetica, Arial, sans-serif;
}

/*navigation styles */

.navigation-section {
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 900;

}
    
.top-bar-section {
background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 900;
}

.top-bar {
  background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 900;
}



/* home page image */

.main-picture {
display: inline-block;
vertical-align: middle;
width: 100%;
height: 650px;
}

/*.image-section:before {  
    content: "";  
    display: block;  
    position: absolute;   
    background: rgba(8, 8, 8, 0.5); 
      -webkit-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
    background-size: cover;
    width: 1265px;
    height: 650px;
}  */

/* writing on top of the main picture on home page */

.main-info-1 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
   text-align: center;
   color: #FFFFFF;
   font-weight: bold;
}

.main-info-2 { 
   position: absolute; 
   top: 270px; 
   left: 0; 
   width: 100%; 
   text-align: center;
   color: #FFFFFF;
}

/* buttons on home page image*/

.buttons {
    position: absolute; 
    top: 370px; 
    left: 0; 
    width: 100%; 
    text-align: center;
}

/* icons in second content section of home page */

.intro-section {
  padding-top: 200px;
}


.beer {
    height: 64px;
    width: 64px;
}

.music {
    height: 64px;
    width: 64px;
}

.shop {
    height: 64px;
    width: 64px;
}

.line-across {
    border-bottom: 2px solid #33CCFF;
    width: 100%;
}

/* third content section on home page */

#third-content-section {
  background-color: #d3d3d3;
  margin: 0;
  padding-bottom: 100px;
}


/* text styling */


h3 {
    font-weight: bold;
    font-family: Helvetica;
    font-size: 24px;
    color: #404749;
}

p {
    font-family: Helvetica;
    color: #65727A;
}

h2 {
    font-weight: normal;
    font-family: Helvetica;
    font-size: 36px;
    padding-top: 20px;
    text-align: center;
    color: #404749;
}

h4 {
    font-weight: normal;
    font-family: Helvetica;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    color: #404749;
}

h6 {
  font-weight: bold;
  text-align: center;
}

/* footer */


.footer-text {
    color: #FFFFFF;
    text-align: right;
    padding-top: 20px;
}


/* plan your day page */

.background-container {
  background: #CCCCCC;
}

.footer-row {
  background: #CCCCCC;
}

.jump-to-all {
  position: relative;
    left: 0; 
    width: 100%; 
    text-align: center;
  }

