body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #313131;
  text-decoration: none;
  line-height: 80px;
}


/*navigation styles */

.navigation-section {
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 900;

}
    
.top-bar-section {
background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 900;
}

.top-bar {
  background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 900;
}



/* home page image */

.main-picture {
display: inline-block;
vertical-align: middle;
width: 100%;
height: 650px;
}


/* writing on top of the main picture on home page */

.main-info-1 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
   text-align: center;
   color: #ffffff;
   font-weight: bold;
}

.main-info-2 { 
   position: absolute; 
   top: 270px; 
   left: 0; 
   width: 100%; 
   text-align: center;
   color: #ffffff;
}

/* buttons on home page image*/

.buttons {
    position: absolute; 
    top: 370px; 
    left: 0; 
    width: 100%; 
    text-align: center;
}

/* icons in second content section of home page */

.intro-section {
  padding-top: 200px;
}


.glass {
    height: 64px;
    width: 64px;
    position:relative;
text-align: center;
display: block;
  margin-left: auto;
  margin-right: auto;
}

.music {
    height: 64px;
    width: 64px;
    position:relative;
text-align: center;
display: block;
  margin-left: auto;
  margin-right: auto
}

.food {
    height: 64px;
    width: 64px;
    position:relative;
text-align: center;
display: block;
  margin-left: auto;
  margin-right: auto

}

/* third content section on home page */

#third-content-section {
  background-color: #dddddd;
  margin: 0;
  padding-bottom: 100px;
  padding-top: 10px;
}


/* text styling */


h3 {
    font-weight: bold;
    font-size: 24px;
    color: #313131;
}

h3.icon-title {
  text-align: center;
}

p {
    color: #424242;
}

h2 {
    font-weight: normal;
    font-size: 36px;
    padding-top: 20px;
    text-align: center;
    color: #313131;
}

h4 {
    font-weight: normal;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    color: #313131;
}

h6 {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

h6.panel {
  background: #535d76;
  color: #ffffff;
}

/* footer */

.line-across {
    border-bottom: 2px solid #b6b6b6;
    width: 100%;
}

.copyright {
  padding-top: 35px;
  float: left;
}


/* plan your day page and view all page background-color */

.background-container {
  background: #9ea09f;

}


/* submit ideas page (contact us) */

img.Submit-Ideas-Pic {
position:relative;
text-align: center;
 padding-top: 20px;
  border-radius: 50%;
width: 90%;
display: block;
  margin-left: auto;
  margin-right: auto
}

.Your-Ideas {
  text-align: center;
  padding-top: 25px;
}

form {
  
    width: 300px;
    margin: 0 auto;
}

/* media queries */

/* for small screens, phones held in portrait mode*/
@media screen and (max-width: 320px) {
  .main-picture {
    display: none;
  }
  .main-info-1 {
    color: #2f3565;
  }
  .main-info-2 {
    color: #2f3565;
  }
  .buttons {
    margin: auto;
    padding: auto;
    clear: all;
  }
  h4 {
    display: none;
  }
}











